.App {
  text-align: center;
  background-color: red;
}

.header {
  border: 1px solid red;
  display: flex;
  background-color: grey;
  justify-content: center;
}

.title {
  border: 1px solid green;
  text-align: center;
  font-size: 38px;
}

.planet {
  display: flex;
  /* background-color: red; */
  border: 1px solid red;
  /* justify-content: space-between; */
}

.planet-card {
  align-items: center;
  border: 1px solid green;
  
}

.planet-card h3 {
  font-size: 25px;
  text-align: center;
}

.planet-card img {
  height: 130px;
  /* margin: 10px; */
}
